h1 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: flex-start;
  margin-top: 20px;
}