/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: var(--mat-sys-body-medium);
  line-height: 1.6;
}

h1, h2, h3 {
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
}

a {
  color: var(--mat-sys-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
